{% extends 'main/admin_base.html' %}
{% load static %}
{% block content %}

{%include 'main/admin_dashboard_cards.html'%}

    <div class="col-md-12 col-sm-12 padding-top-60 margin-bottom-200">
            <h1>Последни поръчки</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Клиент</th>
                    <th class="goods-page-description">Телефон</th>
                    <th class="goods-page-description">Адрес за доставка</th>
                    <th class="goods-page-description">Артикул</th>
                    <th class="goods-page-image">Снимка</th>
                    <th class="goods-page-description">Статус</th>
                  </tr>
                  {% for product,customer,order in data %}
                  <tr>
                    {% for c in customer %}
                    <td class="goods-page-description"> {{c.get_name}}</td>
                    <td class="goods-page-description">{{c.mobile}}</td>
                    <td class="goods-page-description">{{order.address}}</td>
                    {% endfor %}
                    {% for p in product %}
                    <td class="goods-page-description"> {{p.name}}</td>
                    <td class="goods-page-image"> <img src="{{ p.product_image.url }}" alt="Profile Pic"  width="40px" /></td>

                    {% if order.status == 'Pending'%}
                    <td class="goods-page-description"> <span class="label label-info">{{order.status}}</span></td>
                    {% elif order.status == 'Delivered' %}
                    <td class="goods-page-description"> <span class="label label-success">{{order.status}}</span></td>
                    {% elif order.status == 'Out for Delivery' %}
                    <td class="goods-page-description"> <span class="label label-warning">{{order.status}}</span></td>
                    {%else%}
                    <td> <span class="label label-primary">{{order.status}}</span></td>
                    {%endif%}
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </table>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}
