        <div class="row product-list">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item text-center" style="background-color: #96f70045;">
              <h3 style="font-weight: bold;">Регистрирани клиенти</h3>
              <h1>{{customercount}}</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item text-center" style="background-color: #007cf745;">
              <h3 style="font-weight: bold;">Брой артикули</h3>
              <h1>{{productcount}}</h1>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item text-center" style="background-color: #f7000045;">
              <h3 style="font-weight: bold;">Брой поръчки</h3>
              <h1>{{ordercount}}</h1>
            </div>
          </div>
        </div>
