{% extends 'main/homebase.html' %}
{% load static %}
{% block content %}
      <div class="container">
        <div class="row margin-top-200">
          <div class="col-md-12 col-sm-12 margin-bottom-30">
            <h1>Количка</h1>
            <div class="goods-page margin-bottom-200">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                {% if product_count_in_cart > 0 %}
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-description">Наименование</th>
                    <th class="goods-page-image">Изображение</th>
                    <th class="goods-page-price">Цена</th>
                    <th class="goods-page-description">Описание</th>
                    <th class="goods-page-description">--</th>
                  </tr>
                  {% for p in products %}
                  <tr>
                    <td class="goods-page-description">
                      <h3>{{p.name}}</h3>
                    </td>
                    <td class="goods-page-image">
                      <img src="{{ p.product_image.url }}" alt=" ">
                    </td>
                    <td class="goods-page-price">
                      <strong>{{p.price}}<span> лв.</span></strong>
                    </td>
                    <td class="goods-page-description">
                      <h3>{{p.description}}</h3>
                    </td>
                    <td class="del-goods-col">
                      <a class="del-goods" href="{% url 'remove-from-cart' p.id  %}">&nbsp;</a>
                    </td>
                  </tr>
                  {% endfor %}
                </table>
                {% else %}
                  <p>Няма стоки в количката. </p>
                {% endif %}
                </div>

                <div class="shopping-total">
                  <ul>
                    <li class="shopping-total-price">
                      <em>Сума общо</em>
                      <strong class="price">{{total}}<span> лв.</span></strong>
                    </li>
                  </ul>
                </div>
              </div>
              <a href="{% url 'home' %}" class="btn btn-default" >Продължи пазаруването <i class="fa fa-shopping-cart"></i></a>
              <a href="/customer-address" class="btn btn-primary" >Завърши поръчката <i class="fa fa-check"></i></a>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

            {%  block payments %}
            <ul class="list-unstyled list-inline pull-right">
              <li><img src="{% static 'assets/corporate/img/payments/western-union.jpg' %}" alt="We accept Western Union" title="We accept Western Union"></li>
              <li><img src="{% static 'assets/corporate/img/payments/american-express.jpg' %}" alt="We accept American Express" title="We accept American Express"></li>
              <li><img src="{% static 'assets/corporate/img/payments/MasterCard.jpg' %}" alt="We accept MasterCard" title="We accept MasterCard"></li>
              <li><img src="{% static 'assets/corporate/img/payments/PayPal.jpg' %}" alt="We accept PayPal" title="We accept PayPal"></li>
              <li><img src="{% static 'assets/corporate/img/payments/visa.jpg' %}" alt="We accept Visa" title="We accept Visa"></li>
            </ul>
            {% endblock %}
