{% extends 'main/homebase.html' %}
{% load static %}


{% load widget_tweaks %}

<!-- НАЧАЛО БЛОК ОСНОВНО СЪДЪРЖАНИЕ НА СТРАНИЦАТА -->
{% block content %}
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-200 margin-top-200">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-6 col-sm-7">
            <h1>Регистриране на нов потребител</h1>
            <div class="content-form-page">
              <form role="form"  enctype="multipart/form-data" class="form-horizontal form-without-legend" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <label class="col-lg-2 control-label" for="first-name">Собствено име <span class="require">*</span></label>
                    <div class="col-lg-8">
                      {% render_field userForm.first_name id="first-name" class="form-control" placeholder="Собствено име" %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="last-name">Фамилно име <span class="require">*</span></label>
                    <div class="col-lg-8">
                        {% render_field userForm.last_name id="last-name" class="form-control" placeholder="Фамилно име" %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="user-name">Потребителско име <span class="require">*</span></label>
                    <div class="col-lg-8">
                      {% render_field userForm.username id="user-name" class="form-control" placeholder="Потребителско име" %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="password">Парола <span class="require">*</span></label>
                    <div class="col-lg-8">
                    {% render_field userForm.password id="password" class="form-control" placeholder="Парола" %}
                </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="user-address">Адрес <span class="require">*</span></label>
                    <div class="col-lg-8">
                      {% render_field customerForm.address id="user-address" class="form-control" placeholder="Адрес" %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="mobile">Телефон за връзка <span class="require">*</span></label>
                    <div class="col-lg-8">
                    {% render_field customerForm.mobile id="mobile" class="form-control" placeholder="Телефон за връзка" %}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="photo">Парола <span class="require">*</span></label>
                    <div class="col-lg-8">
                        {% render_field customerForm.profile_pic id="photo" class="form-control" placeholder="Снимка за профила" %}
                    </div>
                </div>

                <div class="row">
                  <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                    <button class="btn btn-primary" type="submit">РЕГИСТРИРАЙ</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->

{% endblock content %}
<!-- КРАЙ БЛОК ОСНОВНО СЪДЪРЖАНИЕ НА СТРАНИЦАТА -->
