    <!-- НАЧАЛО ГОРНО МЕНЮ -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- НАЧАЛО ГОРНО МЕНЮ ЛЯВА ЧАСТ -->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><a href="{% url 'my-order' %}">Проследяване на поръчките</a></li>
                        <li><a href="{% url 'my-profile' %}">Клиентски профил</a></li>
                    </ul>
                </div>
                <!-- КРАЙ ГОРНО МЕНЮ ЛЯВА ЧАСТ -->
                <!-- НАЧАЛО ГОРНО МЕНЮ ДЯСНА ЧАСТ -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="{% url 'home' %}">Начало</a></li>
                        <li><a href="/logout">Излизане от профила</a></li>
                    </ul>
                </div>
                <!-- КРАЙ ГОРНО МЕНЮ ДЯСНА ЧАСТ -->
            </div>
        </div>
    </div>
    <!-- КРАЙ ГОРНО МЕНЮ -->
