{% extends 'main/homebase.html' %}
{% load static %}


{% load widget_tweaks %}

<!-- НАЧАЛО БЛОК ОСНОВНО СЪДЪРЖАНИЕ НА СТРАНИЦАТА -->
{% block content %}
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-200 margin-top-200">
          <!-- BEGIN SIDEBAR -->
          <div class="sidebar col-md-3 col-sm-5">
          </div>
          <!-- END SIDEBAR -->

          <!-- BEGIN CONTENT -->
          <div class="col-md-6 col-sm-7">
            <h1>Профилни данни за клиент</h1>
            <div class="goods-page">
              <div class="goods-data clearfix">
                <div class="table-wrapper-responsive">
                <table summary="Shopping cart">
                  <tr>
                    <th class="goods-page-image">Клиент </th>
                    <th class="goods-page-description">Данни</th>
                  </tr>
                  <tr>
                    <td class="goods-page-image">
                      <img src="{{ customer.profile_pic.url }}" alt="Профилна снимка">
                    </td>
                    <td class="goods-page-description">
                      <p><strong>Име: </strong>{{ user.first_name }} {{ user.last_name }}</p>
                      <p><strong>Потребителско име: </strong>{{ user.username }}</p>
                      <p><strong>Адрес: </strong>{{ customer.address }}</p>
                      <p><strong>Телефон за връзка: </strong>{{ customer.mobile }}</p>
                    </td>
                  </tr>
                </table>
                </div>
              </div>
            </div>

                <div style="text-align: center;">
                  <a href="/edit-profile"><button class="btn btn-primary btn-lg" ><span>Редактиране на профила</span></button></a>
                </div>

          </div>
            <!-- END CONTENT -->
        </div>
{% endblock content %}
<!-- КРАЙ БЛОК ОСНОВНО СЪДЪРЖАНИЕ НА СТРАНИЦАТА -->