{% extends 'main/admin_base.html' %}
{% load widget_tweaks %}
{% block content %}

        <div class="row margin-bottom-40">
          <div class="col-md-12 col-sm-12">
            <h1>Промяна на статуса на поръчка</h1>
            <div class="content-form-page">
              <form role="form" class="form-horizontal form-without-legend"  method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="status">Ново състояние</label>
                  <div class="col-lg-8">
                    {% render_field orderForm.status class="form-control" placeholder="Address" id="status" %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-md-offset-2 padding-left-0 padding-top-20">
                    <button class="btn btn-primary" type="submit">Обнови статуса на поръчката</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>

{% endblock content %}
